html {
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
h1 {

    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: left;
}

h2 {

    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: black;
    text-align: left;
}
h3 {

    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: black;
    text-align: left;
}
body{
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: black;
  text-align: center;
}
a:link {
    color: rgb(0, 0, 0); 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 96, 231);
    background-color: transparent;
    text-decoration: underline;
  }
  

.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
  }
  
  
  .active, .accordion:hover {
    background-color:rgb(154, 228, 122);
  }
  

  .panel {
    padding: 0 18px;
    background-color: rgb(255, 255, 255);
    display: none;
    overflow: hidden;
  }