html {
    background-color:linear-gradient(141deg, #ffffff 20%, #808181 50%, #000000 70%);
    padding: 20px;
    text-align: center;
  }

  #firsttext {
    color: white;
    font-size: 45px;
    
  }

  #firsttext:hover {
    color: rgb(255, 9, 9);
  }
  